#column-1{
        margin-right: 4vw;

        border-radius: 20px;

        height: 20vh;
        overflow: hidden;
        background-color: #ffc107;
        text-shadow: 2px 2px #fd7e14;
}

#column-2{
        margin-right: 4vw;

        border-radius: 20px;

        height: 20vh;
        overflow: hidden;
        background-color: #fd7e14;
        text-shadow: 2px 2px #ffc107;
}

#column-3{
        border-radius: 20px;

        height: 20vh;
        overflow: hidden;
        background-color: #ffc107;
        text-shadow: 2px 2px #fd7e14;
}

.index-button{
        padding-top: 7vh;
}

img {
        width: 36vw;
}