<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" href="/static/style/bootstrap.css"/>
        <link rel="stylesheet" href="/static/style/bootstrap-grid.css"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/style/all_style.css">
        <link rel="stylesheet" href="/static/style/addHive_style.css">

        <link rel="icon" href="../static/image/icon.svg"/>

        <title>BeeBuzz Solution</title>
    </head>

    <body>

        <div id="title-div">

            <h1 id="title">Our Solution</h1>

            <!-- TODO Background image -->

        </div>

        <nav id = "navigation" class="">
            <a href="url_for('index')" class="">Main Page</a>
            <a href="url_for('ourSolution')" class="">Our Solution</a>
            <a href="url_for('hiveMap')" class="">Check Hives</a>
        </nav>

        <div class = "columns-40-40">
            <form >
                <div class = "column-40">
                    <label for="hiveNumber">Hive number:</label>
                    <input type="text" id="hiveNumber" name="hiveNumber"><br><br>

                    <label for="sensorNumber">Sensor number:</label>
                    <input type="text" id="sensorNumber" name="sensorNumber"><br><br>
                </div>

                <div class = "column-40">
                    <!-- TODO add map + connect map input to form -->
                </div>

                <input id = "saveHiveButton" type="submit" value="Save Hive">

            </form>

        </div>

    </body>
</html>