<DOCTYPE! html>
<html>
    <head>
        <title>BeeBuzz Hive Checker</title>
    </head>

    <body>

        <div class="title-divs">

            <h1 id="title">Hive Checker</h1>

            <!-- TODO Background image -->

        </div>

        <nav id = "navigation" class="">
            <a href="{{url_for('index.html')}}" class="">Main Page</a>
            <a href="{{url_for('ourSolution.html')}}" class="">Our Solution</a>
            <a href="{{url_for('addHive.html')}}" class="">Add a Hive</a>
        </nav>

        <div class = "columns-40-40">
            <div class = "column-40">
                <!-- TODO add map -->
            </div>

            <div class = "column-40">
                <!-- TODO add dynamic table with the hive information -->
            </div>

        </div>

        <div class="column-80">
            <!-- Add statistics for individual hive -->
        </div>

    </body>
</html>