<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" href="/static/style/bootstrap.css"/>
        <link rel="stylesheet" href="/static/style/bootstrap-grid.css"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/style/all_style.css">
        <link rel="stylesheet" href="/static/style/hiveMap_style.css">

        <title>BeeBuzz Hive Checker</title>
    </head>

    <body>

        <div class="title-divs">

            <h1 id="title">Hive Checker</h1>

            <!-- TODO Background image -->

        </div>

        <nav id = "navigation" class="">
            <a href="{{url_for('index')}}" class="">Main Page</a>
            <a href="{{url_for('ourSolution')}}" class="">Our Solution</a>
            <a href="{{url_for('addHive')}}" class="">Add a Hive</a>
        </nav>

        <div class = "columns-40-40">
            <div class = "column-40">
                <!-- TODO add map -->
            </div>

            <div class = "column-40">
                <!-- TODO add dynamic table with the hive information -->
            </div>

        </div>

        <div class="column-80">
            <!-- Add statistics for individual hive -->
        </div>

    </body>
</html>