<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" href="/static/style/bootstrap.css"/>
        <link rel="stylesheet" href="/static/style/bootstrap-grid.css"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/style/all_style.css">
        <link rel="stylesheet" href="/static/style/index_style.css">

        <link rel="icon" href="../static/image/icon.svg"/>
        
        <title>BeeBuzz Home</title>
    </head>

    <body>

        <div id="title-div">

            <h1 id="title" class="text-center align-self-center">BEEBUZZ</h1>

        </div>

        <div class = "columns-40-40">
        
            <div class = "column-40">
                <img alt="NATION’S BEEKEEPERS LOST 44 PERCENT OF BEES IN 2015-16" src="/static/image/stats_loss_2016.png">
            </div>

            <section class = "column-40">
                <p> Did you know that honey bees perform about <b>80%</b> of all pollination worldwide?
                    Or that 70 of the top 100 human food crops (about <b>90% of the world’s nutrition</b>) — are pollinated by bees.
                    Honey bees are essential for life on Earth, as they are the greatest pollinators.</p>
                <p>
                    Unfortunately, scientists note that bees are dying at massive rates from factors such as
                    pesticides, drought, habitat destruction, nutrition deficit, air pollution and global warming.
                </p>
                <p>
                    It is normal for a bee hive or colony to exhibit a decline of 5-10 percent over the winter,
                    while rarely that number can reach 15-20 percent in a bad year.
                    In the U.S., winter losses have commonly reached <b>30-50 percent</b>, in some cases more, in 2016.
                </p>
            </section>

        </div>

        <section class = "columns-40-40">
            <p>
                In order to solve this issue, our team has come up with <span style="font-family:'Archivo Black'; color: #ffc107;">BeeBuzz</span>
            </p>
        </section>

        <div class = "columns-25-25-25">
        
            <div id="column-1" class = "column-25">
                <h2 class="index-button text-center"><a href="{{url_for('ourSolution')}}" style = "color:white; text-decoration: none">Our Solution</a></h2>
            </div>

            <div id="column-2" class = "column-25">
                <h2 class="index-button text-center"><a href="{{url_for('addHive')}}" style = "color:white; text-decoration: none">Enter hive</a></h2>
            </div>

            <div id="column-3" class = "column-25">
                <h2 class="index-button text-center"><a href="{{url_for('hiveMap')}}" style = "color:white; text-decoration: none">Check hives</a></h2>
            </div>

        </div>

    </body>
</html>