<DOCTYPE! html>
<html>
    <head>
        <title>BeeBuzz Solution</title>
    </head>

    <body>

        <div class="title-divs">

            <h1 id="title">Our Solution</h1>

            <!-- TODO Background image -->

        </div>

        <nav id = "navigation" class="">
            <a href="{{url_for('index.html')}}" class="">Main Page</a>
            <a href="{{url_for('addHive.html')}}" class="">Add a Hive</a>
            <a href="{{url_for('hiveMap.html')}}" class="">Check Hives</a>
        </nav>

        <div class = "columns-40-40">
        
            <div class = "column-40">
                <!-- TODO add map -->
            </div>

            <section class = "column-40">
                <p>Project description...</p>
                <!-- TODO add video demo -->
            </section>

        </div>

    </body>
</html>