<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" href="/static/style/bootstrap.css"/>
        <link rel="stylesheet" href="/static/style/bootstrap-grid.css"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/style/all_style.css">
        <link rel="stylesheet" href="/static/style/ourSolution_style.css">

        <link rel="icon" href="../static/image/icon.svg"/>

        <title>BeeBuzz Solution</title>
    </head>

    <body>

        <div id="title-div">

            <h1 id="title" class="text-center align-self-center">SOLUTION</h1>

        </div>

        <nav id = "navigation" class="nav nav-pills justify-content-center nav-fill sticky-top">
            <a href="{{url_for('index')}}" class="nav-item nav-link menu-item">Main Page</a>
            <a href="{{url_for('addHive')}}" class="nav-item nav-link menu-item">Add a Hive</a>
            <a href="{{url_for('hiveMap')}}" class="nav-item nav-link menu-item">Check Hives</a>
        </nav>

        <div class = "columns-40-40">
        
            <div class = "column-40">
                <!-- TODO add map -->
            </div>

            <section class = "column-40">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis knostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <!-- TODO add video demo -->
            </section>

        </div>

    </body>
</html>