<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" href="/static/style/bootstrap.css"/>
        <link rel="stylesheet" href="/static/style/bootstrap-grid.css"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/static/style/all_style.css">
        <link rel="stylesheet" href="/static/style/ourSolution_style.css">

        <link rel="icon" href="../static/image/icon.svg"/>

        <title>BeeBuzz Solution</title>
    </head>

    <body>

        <div id="title-div">

            <h1 id="title" class="text-center align-self-center">SOLUTION</h1>

        </div>

        <nav id = "navigation" class="nav nav-pills justify-content-center nav-fill sticky-top">
            <a href="{{url_for('index')}}" class="nav-item nav-link menu-item">Main Page</a>
            <a href="{{url_for('addHive')}}" class="nav-item nav-link menu-item">Add a Hive</a>
            <a href="{{url_for('hiveMap')}}" class="nav-item nav-link menu-item">Check Hives</a>
        </nav>

        <div class = "columns-40-40">
        
            <div class = "column-40">
                <img src="/static/image/sensor.jpg">
            </div>

            <section class = "column-40">
                <p>
                    We created a <b>Raspberry Pi</b> based app, which uses <b>DHT 22 Temperature and Humidity sensor</b>
                    to detect changes in the levels of humidity and temperature of the hive, which can endanger the bees, as
                    the bees need 60% humidity and temperature around 35 degrees C.
                     </p>
            </section>

        </div>

    </body>
</html>